body {margin:0; padding:0;  

}
main {
    height: 100vh; 
    background-image: url('images/jumbo-background-small.jpg');
    background-size: cover; 
    background-position: center; 

}
.head {
    position: relative; 
    /* z-index: 2000;  */
}

/* Animations */

@keyframes startUp {
    0% {
        opacity: 0; 
        transform: translateY(50px); 
    }
    100% {
        opacity: 1; 
        transform: translateY(0px); 
    }
}

@keyframes socialIcon {
    0% {
        transform: translateY(0); 

    }
    50% {
        transform: translateY(-20%); 
    }
    100% {
        transform: translateY(0);
    }
}

@keyframes aboutTitle {
    0% {
        transform: translateX(-10%); 
        opacity: 0; 
    }
    
    100% {
        transform: translateX(0);
        opacity: 1; 
    }
}

.about-title__animation {
    animation: aboutTitle 1s; 
}
.unscrolled {
    transform: translateX(-10%); 
    opacity: 0; 
}
.center {
    text-align: center; 
}
/* Jumbotron */

.jumbotron {
   height: 100vh; 
   display: block; 
   background-size: cover; 
   font-family: 'Raleway', sans-serif;
   z-index: 2000; 
    
}
.jumbotext__container {
    width: 30%;
    padding-top: 16%; 
    margin-right: auto; 
    margin-left: auto; 
    color: white; 
}
.red {
    color: rgb(230, 101, 101); 
}
.text-cont {
    animation: startUp 1s ease-in; 
    text-align: center; 
    
}

.jumbo-title {
    font-size: 3rem; 
}
.jumbo-button {
    border: 1px solid white; 
    width: 160px; 
    padding: 7px; 
    text-align: center; 
    cursor: pointer; 
    transition: rotate 0.5s;
    font-size: 1.1rem; 
    margin: auto; 
    transition: all 0.5s; 
}
.fa-arrow-right {
    transition: all 0.5s; 
    margin-left: 10px; 
}
.jumbo-button:hover {
    border: 1px solid #00e4f5; 
    background-color: #00e4f5; 
}
.jumbo-button:hover .fa-arrow-right {
    transform: rotate(90deg); 
    
}
/* Navbar */

.navbar {
    display: flex; 
    justify-content: start; 
    width: 100%; 
    background-color: rgba(0, 0, 0, 0.734); 
    padding-left: 100px;  
    padding-top: 20px;
    padding-bottom: 20px;  
    
}

.nav_cont{
    display: relative; 
    position: fixed; 
    
    color: white; 
    width: 100%; 
}
@media only screen and (min-width: 1201px) {
    .nav_cont {
        bottom: 0; 
    }
}

@media only screen and (max-width: 1200px) {
    .nav_cont {
        top: 0; 
    }
  }
.nav-item{
    margin-right: 15px; 
    margin-left: 15px; 
    cursor: pointer; 
}
.nav-link {
    font-family: 'Ubuntu', sans-serif; 
}
.nav-link.active {
    color: red; 
}

/* About Section */

#about {
    border-top: 4px solid #00e4f5; 
    padding-top: 100px; 
}
.about-title {
    text-align: center; 
    border-bottom: 1px solid black; 
    margin-left: 20px; 
    margin-right: 20px; 
    margin: auto; 
    font-family: 'Montserrat', sans-serif;
    font-size: 3.2rem; 
    text-align: center; 
}

.flex {
    display: flex; 
    flex-wrap: wrap; 
    justify-content: center; 
    margin-right: 10%; 
    margin-left: 10%; 
}
.flex-item {
    margin: 10px; 
    flex-basis: 300px; 
   font-family: 'Ubuntu', sans-serif; 
}


/* Work Section */
#work {
    background-color: rgb(241, 241, 241); 
    padding-top: 30px; 
    padding-bottom: 50px; 
}

.work-img {
    height: 200px; 
}
.work__header {
    font-size: 3.2rem; 
    margin-bottom: 50px; 
    font-family: 'Montserrat', sans-serif;
    border-bottom: 1px solid black; 
}
.flex.work {
    display: flex; 
    justify-content: center; 
    flex-wrap: wrap; 
}
.work.col {
    
}



/* footer */

footer {
    bottom: 0; 
}
.wrapper {
    padding-top: 60px;
    padding-bottom: 40px; 
}
.social--cont {
    display: flex; 
    justify-content: center; 
}
.social_icon {
    margin-left: 20px; 
    color: white; 
    margin-right: 20px; 
    background-color: #42425d; 
    padding: 12px; 
    text-align: center; 
    cursor: pointer; 
    
    transition: all 0.1s linear; 
}
.social_icon:hover {
    background: #00e4f5; 
    transform: scale(0.95); 
}
.social_icon:hover .social__icon {
    animation: socialIcon 350ms linear; 
}
.bottom-text {
    color: rgb(105, 105, 105); 
    margin-top: 30px; 
    font-family: 'Heebo', sans-serif;
    font-size: 0.8rem; 
}
.footer.container {
    height: 100%; 
    background-color: rgb(38, 38, 49); 
}
