.pop-up {
    position: fixed; 
    top: 50%; 
    left: 50%; 
    transform: translate(-50%, -50%); 
    /* width: 800px; 
    height: 400px;  */
    background-color: white; 
    z-index: 20; 
   
}
.pop-up .flex {
    display: flex; 
    z-index: 90; 
    height: 100%; 
   
}
.pop-up .flex .dis {
   flex-basis: 65%;
   background-color: blue; 
   width: 750px;  
   z-index: 100; 
   height: 100%;
}
.pop-up .flex .about {
    width: 350px;  
    flex-basis: 35%; 
    background-color: rgb(66, 68, 75); 
    z-index: 100; 
    height: 100; 

}
.pop-up img {
    width: 750px; 
}
.pop-up .flex .about {
    text-align: center; 
}
.about h1 {
    color: rgb(255, 255, 255); 
    font-family: 'IBM Plex Mono', monospace;
    text-align: left; 
    font-size: 1.5rem; 
    margin-left: 15px; 
}
.about .lang-emblems {
    display: flex; 
    flex-wrap: wrap;
    justify-content: left;
    
}
.about .lang-emblems span {
    color: rgb(209, 209, 209); 
    margin: 7px; 
    border: 1px solid rgb(39, 39, 39); 
    padding: 4px; 
    border-radius: 4px; 
    font-size: 0.9rem; 
}
.about .about-section    {
    margin-top: auto; 
    text-align: left;
    padding-left: 15px; 
    padding-right: 10px; 
    color: rgb(184, 183, 183); 
    font-family: 'Source Code Pro', monospace;
}
.about .about-section p {
    height: 260px; 
    margin-right: 4px; 
}
.about .about-section .scroll {
   height: 260px; 
   overflow-y: scroll; 
}
.about .buttons {
    margin-top: 10px; 
    padding-left: 20px; 
    text-align: left;
}

.force-overflow {
    margin-right: 5px; 
}

#style-1::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	border-radius: 10px;
    background-color: rgb(128, 128, 128);
    margin-right: 5px; 
}

#style-1::-webkit-scrollbar
{
	width: 12px;
    background-color: rgb(66, 68, 75); 
    margin-right: 5px; 
}

#style-1::-webkit-scrollbar-thumb
{
	border-radius: 10px;
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
    background-color: #555;
    margin-right: 5px; 
}
